// Breakpoints
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1600px;
// Colors
$beige: #faf4f4;
$textColor: #444;
$black: rgb(30,30,42);
$black1: #111111;
$black2: #2B303A;
$light-black: rgb(7,7,7);